<%- include("navbar-student") -%>
<!DOCTYPE html>
<html>

<head>
    <title>Announcement</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/announcement-student.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="notice">
        <p style="text-align: center; margin-top: 7%; font-size:larger;">
            The class of Design and Analysis of Algorithms is shifted to Thursday on same timings
            <br>
            <br>
            - Dr Nonita Sharma
        </p>
    </div>


</body>

</html>