
<!DOCTYPE html>
<html>
    <head>
        <title>teachers-attendance</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/teacher-attendance.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
<div class="box-main">
        <div class="box">
            <p class="text-big">Class Name</p>
            <p class="text-small">Name of Subject</p>
            <button type="button" class="btn">
                Mark Attendance
            </button>
        </div>
        <div class="box">
            <p class="text-big">Class Name</p>
            <p class="text-small">Name of Subject</p>
            <button type="button" class="btn">
                Mark Attendance
            </button>
        </div>
        <div class="box">
            <p class="text-big">Class Name</p>
            <p class="text-small">Name of Subject</p>
            <button type="button" class="btn">
                Mark Attendance
            </button>
        </div>
        <div class="box">
            <p class="text-big">Class Name</p>
            <p class="text-small">Name of Subject</p>
            <button type="button" class="btn">
                Mark Attendance
            </button>
        </div>
    </div>
    </body>
</html>