<!DOCTYPE html>
<html>
    <head>
        <title>teachers-attendance</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/teacher-attendance.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
<div class="box-main">
        <div class="box">
            <p class="text-big">CSE-1</p>
            <p class="text-small">Data Structures</p>
            <button type="button" class="btn" onClick="window.location.href='/student-list'">
                Enter Class
            </button>
        </div>
        <div class="box">
            <p class="text-big">CSAI-1</p>
            <p class="text-small">Data Structures</p>
            <button type="button" class="btn" onClick="window.location.href='/student-list'">
                Enter Class
            </button>
        </div>
        <div class="box">
            <p class="text-big">IT-1</p>
            <p class="text-small">Design and Analysis</p>
            <button type="button" class="btn" onClick="window.location.href='/student-list'">
                Enter Class
            </button>
        </div>
        <div class="box">
            <p class="text-big">IT-2</p>
            <p class="text-small">Design and Analysis</p>
            <button type="button" class="btn" onClick="window.location.href='/student-list'" >
                Enter Class
            </button>
        </div>
    </div>
    </body>
</html>